[data-md-color-scheme="default"] {
    --md-primary-fg-color:        #F14E32;
    --md-accent-fg-color:        #F14E32;
}

[data-md-color-scheme="slate"] {
    --md-primary-fg-color:        #F14E32;
    --md-accent-fg-color:        #FFFFFF;
}
